<h3>LOGIN PAGE</h3>

<input type="email" #username class="form-control" placeholder="email" reqired>
<input type="password" #password class="form-control" placeholder="password" reqired>
<button (click)="loginWithEmail(username.value, password.value)" *ngIf="!(user | async)?.uid">Login</button>
<button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
<!-- TO GO TO THE NAVIGATION -->
<!-- <button (click)="signupWithEmail(username.value, password.value)" *ngIf="!(user | async)?.uid">Signup</button>
<button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button> -->
<!-- <h2 *ngIf="(user | async)?.uid">{{user.username}}</h2> -->