<div *ngIf="restaurant" class="container" id="details">
  <h1>
    {{restaurant?.name}}
  </h1>
  <div class="col-md-5">
      <img [src]="restaurant?.photo" class="img-rounded img-responsive" alt=""> 
  </div>
  <section>
    <div class="container col-md-7">
      <div class="row">
        <div class="board">
          <div class="board-inner">
            <ul class="nav nav-tabs" id="myTab">
              <div class="liner"></div>
              <li class="active">
                <a href="#overview" data-toggle="tab" title="overview">
                  <span class="round-tabs one">
                    <i class="glyphicon glyphicon-info-sign"></i>
                  </span> 
                </a>
              </li>

              <li>
                <a href="#reviews" data-toggle="tab" title="reviews">
                  <span class="round-tabs two">
                    <i class="glyphicon glyphicon-star"></i>
                  </span> 
                </a>
              </li>
              <li>
                <a href="#booking" data-toggle="tab" title="booking">
                  <span class="round-tabs three">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>

          <div class="tab-content">
            <div class="tab-pane fade in active" id="overview">
              <app-overview [restaurant]="restaurant"></app-overview>
            </div>
            <div class="tab-pane fade" id="reviews">
              <app-reviews [restaurant]="restaurant"></app-reviews>
            </div>
            <div class="tab-pane fade" id="booking">
              <app-booking [restaurant]="restaurant" [booking]="booking"></app-booking>
            </div>

            <div class="clearfix"></div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
<!-- <div *ngIf="(currentUser | async)" class="row">
  <div class="col-md-offset-2">
  <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#uploadModal">
    <span class="glyphicon glyphicon-picture"></span>
    Update photo
  </button>
  <button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#editModal">
      <span class="glyphicon glyphicon-pencil"></span>
      Edit restaurant
  </button>  
  </div>
</div> -->
<!-- 
<app-upload-photo [restaurant]="restaurant"></app-upload-photo>
<app-edit [restaurant]="restaurant"></app-edit> -->