<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">BookATable</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a [routerLink]="[ '/home' ]">Home</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="[ '/restaurants' ]">Restaurants</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="[ '/contacts' ]">Contacts</a>
      </li>
      <li>
        <a (click)="searchField()">Search <span class="glyphicon glyphicon-search"></span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!(user | async)?.uid">
				<a [routerLink]="[ '/users/login' ]"><span class="glyphicon glyphicon-log-in"></span> Login </a>
			<li routerLinkActive="active" *ngIf="!(user | async)?.uid">
        <a [routerLink]="[ '/users/signup' ]"> Sign Up</a>
      <li routerLinkActive="active" *ngIf="(user | async)?.uid">
          <a [routerLink]="[ '/users/' + username ]">Welcome, {{username}}</a>
			<li routerLinkActive="active" *ngIf="(user | async)?.uid">
        <a class="tempStyling" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
    </ul>
  </div>
</nav>