.tempStyling{
    cursor: pointer;
}

.navbar{
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}

.navbar-right{
    margin-right: 2%;
}

.navbar-brand{
    margin-left: 2%;
}

#navigation {
    margin-top: 2%;
    padding-bottom: 6%;
}

a{
    color: white;
    font-size: 15pt;
}

.navbar-nav > li > a:hover {
    font-weight: bold;
    background: none;
}

.navbar-nav[_ngcontent-c1] > li.active[_ngcontent-c1] > a[_ngcontent-c1], .navbar-nav[_ngcontent-c1] > li.active[_ngcontent-c1] > a[_ngcontent-c1]:focus, .navbar-nav[_ngcontent-c1] > li.active[_ngcontent-c1] > a[_ngcontent-c1]:hover {
    background-color: rgba(255,255,255,0.2) !important;
    border-radius: 3px;
    border: 0;
}
