<div id="uploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"> ×</button>
        <h4 class="modal-title">Upload photos</h4>
      </div>
      <div class="modal-body">
        <form id="uploadForm" enctype='multipart/form-data' method='post'>
          <input type='file' name='userFile' value='Choose photo' (change)="detectFiles($event)"/>
        </form>
      </div>
      <div class="modal-footer">
        <input #uploaded class="btn btn-default" type='submit' value='Upload File' data-dismiss="modal" name='submit' [disabled]="!selectedFiles"
        (click)="uploadSingle()" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>