a{
    color: white;
    font-size: 15pt;
    cursor: pointer;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: rgba(255,255,255,0.2) !important;
    border: 0;
}

li > a:hover {
    background-color:  rgba(255,255,255,0.1) !important;
    border: 0;
    font-weight: bold;    
}

.tab-content {
    padding-top: 2%;
}