<section>
    <div class="container col-md-offset-2 col-md-8">
        <div class="row">
            <div class="board">
                <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                        <li class="active">
                            <a href="#all" data-toggle="tab" title="all" (click)="filterProperty = 'name'"> All restaurants</a>
                        </li>

                        <li><a href="#latest" data-toggle="tab" title="latest" (click)="filterProperty = 'addedAt'"> Latest</a>
                        </li>
                        <li><a href="#popular" data-toggle="tab" title="popular" (click)="filterProperty = 'rating.average'"> Most popular</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="all">
                        <app-restaurant-partial *ngFor="let restaurant of restaurants" [restaurant]="restaurant">
                        </app-restaurant-partial>
                    </div>
                    <div class="tab-pane fade" id="latest">
                        <app-restaurant-partial *ngFor="let restaurant of restaurants | orderBy: filterProperty : true" [restaurant]="restaurant">
                        </app-restaurant-partial>
                    </div>
                    <div class="tab-pane fade" id="popular">
                        <app-restaurant-partial *ngFor="let restaurant of restaurants | orderBy: filterProperty : true" [restaurant]="restaurant">
                        </app-restaurant-partial>
                    </div>

                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</section>