<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="row columns">
  <button (click)="loginAnonimous()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container">
      <p *ngFor="let item of items | async"><img src="../assets/images/pin.svg">{{item.message}}</p>
  </div>
</div>

<input type="text" #username>
<input type="text" #password>
<button (click)="loginWithEmail(username.value, password.value)">Login</button> -->
<!-- <button (click)="signupWith(username.value, password.value)">Signup</button> -->
<!-- <app-login></app-login> -->

<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>