<div class="row restaurant">
  <div class="col-xs-12 col-sm-3 col-md-3">
    <a [href]="'/restaurants/' + restaurant?.name">
    <img class="img-responsive img-box img-thumbnail" [src]=restaurant?.photo>
  </a>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-8">
    <h4>
      <a [href]="'/restaurants/' + restaurant?.name">{{restaurant?.name}}</a>
    </h4>
    <p>
      <span class="glyphicon glyphicon-map-marker"></span> {{restaurant?.address.city}}, {{restaurant?.address.area}}, {{restaurant?.address.street}}, {{restaurant?.address.number}}
    </p>
    <p>
      <span class="glyphicon glyphicon-tags"></span>
      {{restaurant?.type}}
    </p>
    <p>
        <span class="glyphicon glyphicon-phone"></span>
        {{restaurant?.contact}}
      </p>
      <p>
          <span class="glyphicon glyphicon-usd"></span>
          {{restaurant?.averageBill}} BGN
        </p>
  </div>

</div>