<div class="user" >
    <h3>{{currentUser?.username}}</h3>
    <h4>User Details:</h4>
    <p>First name: {{currentUser?.firstname}}</p>
    <p>Last name: {{currentUser?.lastname}}</p>
    <p>Username: {{currentUser?.username}}</p>
    <p>Email: {{currentUser?.email}}</p>
    <!-- <div class="bookings">
        <h3>Your bookings</h3>
        <table *ngIf="user?.bookings.length > 0"></table>
    </div>
    <div *ngIf="user?.type === owner">
        <h3>Your restaurants</h3>
        <table></table>
        <button type="button">Add restaurant</button>
        <form></form>
    </div> -->
</div>