<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
</div>
<footer class="text-muted well" id="last-footer">
	<section>
		<div class="row" style="font-size:11px;">
			<div class="container">
				<h3 class="subhead" style="text-align:center;">An Angular SPA project for Telerik Academy</h3>
			</div>
			<footer>
				<div class="row">
					<div class="container text-center">
						<h5>All Rights Reserved © 2017.<a href="https://github.com/The-Feigned-Panthers">The Feigned Panthers</a></h5>
					</div>
				</div>
			</footer>
		</div>
	</section>
</footer>